
		<div class="container-fluid">
			<div class="row">
				<div id="s-logos" class="col-lg-12">
					
				</div>
			</div>
			<div id="s-img" class="row">
				<%= image_tag("votre-gare_small.png", :class => "col-lg-12") %>
			</div>
			<div class="row">
				<%= image_tag("votre-gare_big.png", :class => "col-lg-6", :id => "l-img") %>
				<div id="container" class="col-lg-6">
					<div id="l-logos">
						<div id="logos">
							<%= image_tag("logo/Logo_LAUSANNE.png") %>
							<%= image_tag("logo/Logo_POLEGARE.png") %>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer">
				<div class="col-lg-12">
					<div id="content">
						<p class="thanks">Merci pour votre participation, nous nous réjouissons de découvrir vos réponses!</p>
						<p>Partagez le sondage avec votre entourage!</p>
						<div class="social">
							<div class="fb-share-button" data-href="http://sondage.pole-gare.ch/" data-layout="button" data-size="large"></div>
							<div class="mail-button">
								<a class="btn btn-default" href="mailto:?subject=Sous-Gare, prends Place!&body=J'ai répondu au sondage, essayez aussi! http://sondage.pole-gare.ch" role="button"> Envoyer par mail</a>
							</div>
							<div class="twitter-button">
								<a class="twitter-share-button" href="https://twitter.com/share" data-show-count="false" data-size="large" data-text="Sous-Gare, prends Place! Donnez-nous votre avis..." data-url="http://sondage.pole-gare.ch"> Tweet</a>
							</div>
						</div>
						<p>Plus d’information sur le projet Pôle Gare</p>
						<a class="btn button" href="http://pole-gare.ch" >pole-gare.ch</a>
					</div>
				</div>
			</div>
		</div>
	<script>
		testSize();
			
		$(window).resize(function() {
			testSize();
		});

		function testSize() {
			console.log("debug");
			if(Modernizr.mq('(max-width: 1199px)')){
				if($('#s-img').is(":visible")){
					$('.footer .col-lg-12').prepend($('#content'))
					$('#s-logos').prepend($('#logos'));
				}
			} else {
				if(!$('#s-img').is(":visible")){
					$('#container').append($('#content'))
					$('#l-logos').prepend($('#logos'));
				}
			}
		}
	</script>
	</body>
</html>