// Place all the styles related to the Survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-pole-gare: #1a4a5b;
.btn, .btn:hover,.btn:visited,.btn:active,.btn:focus{
  background-color: $color-pole-gare;
  border-color: $color-pole-gare;
  color: white;
}
.btn:active{
  background-color: #356778;
  border-color: #356778;
  color: white;
}
.map-buttons .btn {
  margin-left: 2%;
  margin-right: 0px;
  font-size: smaller;
  white-space: normal !important;
	&:first-child{
		margin-left: 0;
		width: 26%
	}
	&:nth-child(2){
		width: 35%
	}
	&:nth-child(3){
		width: 35%
	}
	@media (min-width: 768px) {
    width: 25% !important;
    font-size: 14px;
	}
}

#slogan{
	height: 50px;
	width:100%;
	color: white;
	font-size: 34px;
	@media (max-width: 450px) {
		font-size: 24px;
		padding-top: 5px;
	}
	font-style: italic;
	background-color: $color-pole-gare;
}
p.info {
  padding: 10px;
  margin: 20px 0;
}
.mobile-additional-info{
	@media (min-width: 768px) {
		display: none;
	}
}
header{
	#images{
		img{
			max-width: 100%;
			margin: 5px 0;
			@media (min-width: 970px) {
				max-width: 300px;
				margin: 15px 0;
			}
		}
		div{
			text-align: center;
		}
		div:nth-of-type(2){
			@media (min-width: 970px) {
				text-align: right;
			}
		}
		div:nth-of-type(1){
			@media (min-width: 970px) {
				text-align: left;
			}
		}
	}
	#sous-gare{
		font-size: 18px;
		p{
			margin-top: 20px;
			padding:10px;
		}
		img{
			width: 100%;
		}
		.desktop{
			display: none;
		}
		.mobile{
			display: block;
			margin-top: 25px;
		}
		@media (min-width: 768px) {
			.desktop{
				display: block;
			}
			.mobile{
				display: none;
			}
		}
	}
}
.question{
	margin-bottom: 40px;
	h3 {
    	font-weight: 300;
    	border-bottom: 1px solid #eee;
    	padding-bottom: 9px;
		}
}
#q13,#q14{
	.radio {
		@media (min-width: 970px) {
			margin-top: 10px;
		}
	}
}
#q6{
	position: relative;
}
.gm-city-autocomplete {
	display: block;
	.gm-city-autocomplete-input {
		margin-bottom: 10px;
		position: relative;
		top: -7px;
	}
}
#q7{
	.precision{
		margin-top: 15px;
	}
}
#q8,#q10{
	.checkbox{
		display: none;
	}
	.select-zones{
		display: block;
	}
}
.tt-menu {
	background-color: #fff;
	border: 1px solid grey;
	width: 100%;
}

.tt-cursor {
	background-color: #ccc;
}
.tt-suggestion {
	padding: 8px;
}

.tt-suggestion:hover {
	background-color: #ccc;
}

.tt-menu {
	margin-top: -15px;
}

.center-map {
  top: 65px;
  left: .5em;
}
.ol-touch .center-map {
  top: 80px;
}

.map-box{
	margin-top: 8px;
	min-height: 300px;
}

.checkbox {
	margin: 20px 0;
	line-height: 22px;
	label {
		font-size: 18px;
	}
}

.radio{
  margin-bottom: 15px;
  label {
      font-size: 18px;
  }
}

.radio-map {
  margin-bottom: 15px;
  label {
      font-size: 18px;
  }
}

.radio, .checkbox {
  margin: 20px 0;
}

.radio-map {
  margin: 0;
}

.panel-default > .panel-heading {
  font-size: 18px;
}
button[type="submit"] {
  margin-bottom: 50px;
  min-height: 70px;
  font-size: 24px;
  letter-spacing: 1px;
}
.source-list {
	border:1px solid #000;
	width: 100%;
}
.sortable-list {
	margin-top: 10px;
	min-height: 60px;
	position: relative;
}
.sortable-list .sort-item {
	margin-left: 40px;
}
.sort-item {
	padding:10px 0;
	-ms-user-select:none;
	-moz-user-select:-moz-none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	border-bottom: 1px solid black;
}
.sort-item img {
	height:20px;
	width:20px;
	float:right;
	cursor:hand;
}
ul {
	list-style-type:none;
	margin: 0px;
	padding: 10px 0px;
}
ol {
	list-style-type: decimal;
	margin: 0px;
	padding: 10px 0px;
}
li {
	margin:5px 15px;
	padding:5px;
}
.placeholder-parent{
	position: absolute;
	width: 100%;
	padding-right: 30px;
}
.sort-placeholder {
	position: relative;
	z-index: -100;
	width: 100%;
	margin-top: 15px;
	padding: 10px;
	height: 40px;
	border: 1px dashed #939393;
	background-color: #ececec;
}
// .map-buttons {
//   display: flex; /* or inline-flex */
//   flex-wrap: wrap;
//   .checkbox, .btn-success{
//   	margin-left: 20px;
//   	margin-bottom: 10px;
//   	margin-top: 10px;
//   }
//   .btn-success:first-child{
//   	margin-left: 0;
//   }
// }
.gm-selectable {
	list-style:  none;
	border-bottom: 1px solid #777;
	padding: 10px 0;
	&.other-item{
		input{
			margin-left: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			height: 33px;
		}
	}
}
#q2, #q6{
	.btn{
		background-color: white;
		color: black;
	}
	.gm-selected li{
		color: white;
	}
}
.gm-selectable:first-child {
	border-top: 1px solid #777;
}

.gm-selectable-label {
	position: relative;
	top: 3px;
	margin-left: 12px;
}

.gm-selected {
	margin-bottom: 50px;

	input {color: #000}

	li:before {
		display: inline-block;
		height: 30px;
		width: 30px;
		border-radius: 50%;

		text-align: center;
		line-height: 30px;

		margin-right: 20px;
		margin-left: 10px;

		background-color: rgba(255,255,255,0.4);
		color: #000;
	}

	li:nth-child(1) { 
		background-color: #1a4a5b; 
		&:before {
			content: "1";
		}
	}
	li:nth-child(2) { 
		background-color: #356778; 
		&:before {
			content: "2";
		}
	}
	li:nth-child(3) { 
		background-color: #487b8c; 
		&:before {
			content: "3";
		}
	}
	li:nth-child(4) { 
		background-color: #6da2b2; 
		&:before {
			content: "4";
		}
	}

	.gm-selectable {
		list-style:  none;
		border-bottom: 1px solid #fff;
		padding: 10px 0;
	}

	.gm-selectable:first-child {
		border-top: 1px solid #fff;
	}
}
pre.gm-pre {
	background-color: inherit;
	border: none;
	font-style: italic;
	font-size: 10px;
	margin-top: 15px;
}
.icon-alibi{
	visibility: hidden;
}
#q3,#q4,#q5{
	.row > div:nth-child(2){
		.radio:first-child,.checkbox:first-child{
			@media (max-width: 768px) {
				margin-top:-5px;
			}
		}	
	} 
}