@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
$color1: white;
$footer: #ffee00;
$darkBlue:  #1a4a5b;
$cloudColor:#ecf0f1;
$trangleSize: 80px;
$yellow: #f7ee5b;

@font-face {
  font-family: 'Bandera Pro';
  src: url(font-path('BanderaPro-Bold.eot')),
  	url(font-path('BanderaPro-Bold.eot?syx9v0')) format('embedded-opentype'),
    url(font-path('BanderaPro-Bold.woff?syx9v0')) format('woff'),
    url(font-path('BanderaPro-Bold.ttf?syx9v0'))  format('truetype'),
}

@font-face {
  font-family: 'Bandera Pro';
  src: url(font-path('BanderaPro.eot')),
  	url(font-path('BanderaPro.eot?syx9v0')) format('embedded-opentype'),
    url(font-path('BanderaPro.woff?syx9v0')) format('woff'),
    url(font-path('BanderaPro.ttf?syx9v0'))  format('truetype'),
}

body {
	color: black;
	font-family: 'Bandera Pro' !important;
}

img {
	width: 100%;
}
.header {
	min-height: 30px;
	background-color: $darkBlue;
}

.footer {
	text-align: center;
	display: block;
}

#logos img {
	margin: 20px 20px 20px 10%;
	width: 40%;
	&:first-child {
		margin-left: 20px;
	}
}

.button {
	padding: 5px 10px;
	background-color: $yellow;
	color: black;
	border-radius: 5px;
	font-weight: bold;
}

.thanks {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 50px;
}
#s-img {
	display: block;
}
#l-img {
	display: none;
}
#s-logos {
	display: block;	
}
#l-logo {
	display: none;
}

.container-fluid {
    padding: 0px;
}

#container {
	padding: 20px;
	text-align: center;
}

#content {
	padding: 20px;
}

@media (min-width: 1200px) {
	.container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.thanks {
		font-size: 3em;
	}
	.footer {
		display: none;
	}
	#s-img {
		display: none;
	}
	#l-img {
		display: block;
	}
	#logos img {
		margin: 20px;
		width: 40%;
		&:first-child {
			margin-left: 20px;
		}
	}
	#s-logos {
		display: none;	
	}
	#l-logo {
		display: block;
	}
}