@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
$color1: white;
$footer: #ffee00;
$darkBlue:  #1a4a5b;
$cloudColor:#ecf0f1;
$trangleSize: 80px;
$yellow: #f7ee5b;

@font-face {
  font-family: 'Bandera Pro';
  src: url(font-path('BanderaPro-Bold.eot')),
  	url(font-path('BanderaPro-Bold.eot?syx9v0')) format('embedded-opentype'),
    url(font-path('BanderaPro-Bold.woff?syx9v0')) format('woff'),
    url(font-path('BanderaPro-Bold.ttf?syx9v0'))  format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Bandera Pro';
  src: url(font-path('BanderaPro.eot')),
  	url(font-path('BanderaPro.eot?syx9v0')) format('embedded-opentype'),
    url(font-path('BanderaPro.woff?syx9v0')) format('woff'),
    url(font-path('BanderaPro.ttf?syx9v0'))  format('truetype');
    font-weight: normal;
    font-style: normal;
}

body.thanks-page {
	color: black;
	font-family: 'Bandera Pro' !important;
	overflow-x: hidden;

	img {
		width: 100%;
	}
	.header {
		min-height: 30px;
		background-color: $darkBlue;
	}

	h1 {
    	position: relative;
		left: 50px;
		font-size: 4.2em;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
	}

	p.copyright{
		position: absolute;
		color: white;
		bottom: 0;
		right: 0;
		margin-right: 20px;
		margin-bottom: 0;
	}

	.footer {
		text-align: center;
		display: block;
	}

	#logos img {
		margin: 20px 20px 20px 10%;
		width: 40%;
		&:first-child {
			margin-left: 20px;
		}
	}

	.button {
		margin-top: 10px;
		padding: 5px 10px;
		background-color: $yellow !important;
		color: black !important;
		border-radius: 5px;
		font-weight: bold;
		border: none !important;
	}

	.thanks {
		font-weight: bold;
		font-size: 1.5em;
		margin-bottom: 50px;
	}
	#s-img {
		display: block;
		position: relative;
		div {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	#l-img {
		width: 50%;
		display: none;
		position: absolute;
		background-color: white;
		background-image: image-url("votre-gare_big.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left top;
		height: 100%;
	}
	#s-logos {
		display: block;	
	}
	#l-logo {
		display: none;
	}

	.container-fluid {
	    padding: 0px;
	    overflow-x: hidden;
	}

	#container {
		margin-left: 50%;
		padding: 20px;
		text-align: center;
	}

	#content {
		padding: 20px;
	}

	.social div {
		display: inline-block;
	}

	.social {
		margin-bottom: 30px;
		.fb-share-button {

		}
		.twitter-button {
			position: relative;
			top: 6px;
		}
		.mail-button {
			position: relative;
			top: -5px;
			a {
				padding: 3px 8px;
			}
		}
	}

	@media (min-width: 1200px) {
		h1 {
	    	position: relative;
			top: 224px;
			left: 50px;
			font-size: 4.8em;
			font-weight: bold;
			color: white;
			text-transform: uppercase;
		}
		.thanks {
			font-size: 2em;
			margin-top: 100px;
		}
		.footer {
			display: none;
		}
		#s-img {
			display: none;
		}
		#l-img {
			display: block;
		}
		#logos img {
			margin: 20px;
			width: 40%;
			&:first-child {
				margin-left: 20px;
			}
		}
		#s-logos {
			display: none;	
		}
		#l-logo {
			display: block;
		}
	}

	@media (max-width: 638px) {
		h1 {
			font-size: 3em;
		}
		#container {
			padding: 0;
		}
		.social {
			margin-bottom: 15px;
		}
		.thanks {
			margin-bottom: 15px;
		}
		#s-img {
			img {
				padding-right: 0;
			}
		}
		#logos {
			padding: 0 15px;
			img {
				width: 46%;
				margin-left: 0;
				&:first-child {
					width: 60%;
					margin-left: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}

